.conteiner{
    width: 240px;
    position: absolute;
    left: 603px;
    top: 256px;
    z-index: 1;
}

.text{
    display: inline;
}

.rozetka{
    display: flex;
    grid-area: rozetka;
    align-items: center;
}

.rozetka::before {
    content: url('../../../public/Pics/Vector.png');
    margin-right: 10px;
    background-color: black;
    border-radius: 50%;
}